$ruleColor: $lightGray;

%small-logo {
  font-size: 1.5vw;
  font-family: "Josefin Slab", serif;
  color: white;
  margin-top: -1em;
  word-spacing: 0.9em;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  margin-left: 2.2em;
  font-weight: normal;
}

%no-scroll {
  min-height: initial;
  hgroup.main {
    @include transition(top, 0.2s ease-out);
    top: 8.25vh;
  }
  #content {
    margin-top: 32vh;
    height: 68vh;
  }
}

.no-scroll {
  @extend %no-scroll;
}

body.page-contact {
  @extend %no-scroll;
  text-align: center;

  hgroup.main {
    // margin-top: 3em;
    // position: initial;
  }

  // .little-main {
  //   margin-left: 2.2em;
  //   word-spacing: 0.9em;
  //   letter-spacing: 1.1em;
  // }

  .contact-info {
    color: $grayText;
    @extend %good-list;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    // margin-top: 15vh;
    margin-top: 4em;
    padding: 1.5em 0 0.5em 0;
    border-top: 1px solid $ruleColor;
    border-bottom: 1px solid $ruleColor;
    a {
      color: $grayText;
    }
    li {
      margin-bottom: 0.5em;
      font-size: 2em;
    }
    .phone-number {
      letter-spacing: 0.1em;
      word-spacing: -0.3em;
    }
  }

  .contact-icons {
    @extend %inline-list;
    @extend %good-list;
    li {
      width: 1em;
      margin: 0 0.8em;
    }
  }
}
