%top-rule {

}

$ruleColor: $lightGray;

.centered-nav {
  li {
    margin: 0 1em;
  }
}

%small-logo {
  font-size: 1.5vw;
  font-family: "Josefin Slab", serif;
  color: white;
  margin-top: -1em;
  word-spacing: 0.9em;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  margin-left: 2.2em;
  font-weight: normal;
}

body.page {
  text-align: center;

  h1.main {
    font-size: 6em;
  }

  hgroup.main {
    margin-top: 6vh;
  }

  .little-main {
    margin-left: 2.2em;
    word-spacing: 0.9em;
    letter-spacing: 1.1em;
  }

  .contact-info {
    @extend %good-list;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
    padding: 1.5em 0 0.5em 0;
    border-top: 1px solid $ruleColor;
    border-bottom: 1px solid $ruleColor;

    li {
      margin-bottom: 0.5em;
      font-size: 2em;
    }
    .phone-number {
      letter-spacing: 0.1em;
      word-spacing: -0.3em;
    }
  }
}
