%top-rule {

}

$ruleColor: $lightGray;

body.page {
  text-align: center;

  .contact-info {
    @extend %good-list;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
    padding: 1.5em 0 0.5em 0;
    border-top: 1px solid $ruleColor;
    border-bottom: 1px solid $ruleColor;

    li {
      margin-bottom: 0.5em;
      font-size: 2em;
    }
    .phone-number {
      letter-spacing: 0.1em;
      word-spacing: -0.3em;
    }
  }

  header {
    text-align: center;
    color: #675D6B;
    font-size: 3em;
    margin: 0.4em;
    font-family: didot;
    font-weight: bold;
  }
}
