@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";
@include breakpoint-set('to ems', true);
@import "media-queries";

// type
$displayFont: Didot, Bodoni, serif;
$slabFont: 'Josefin Slab', serif;

$giantHeadFont: $displayFont;

// colors
$gray: gray;
$darkGray: shade($gray, 50%);
$mediumLightGray: tint($gray, 25%);
$lightGray: tint($gray, 50%);
$violetGray: #363138;
$darkViolet: rgb(23,0,33);

// elmt colors
$ruleColor: $lightGray;
$headColor: $violetGray;
$hrColor: $violetGray;
$bodyTextColor: white;
$grayText: rgb(178, 174, 174);
$descriptionColor: $grayText;
$navColor: white;
$linkColor: white;
$bodyLinkColor: $linkColor;

%good-list {
  list-style: none;
}

%inline-list {
  li {
    display: inline-block;
  }
}

%caps {
  text-transform: uppercase;
}

%no-scroll {
  min-height: initial;
  hgroup.main {
    @include transition(top, 0.2s ease-out);
    top: 8.25vh;
  }
  #content {
    margin-top: 32vh;
    height: 68vh;
  }
}

.no-scroll {
  @extend %no-scroll;
}

html {
  background-color: black;
  height: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
}

body {
  @include breakpoint($shortScreen) {
    min-height: 168vh;
  }
  @include breakpoint($narrowScreen) {
    min-height: 170vh;
  }
  margin: 0;
  color: $bodyTextColor;
  font-family: $slabFont;
  min-height: 160vh;
  text-align: center;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden;
}

// head part

hgroup.main {
  @include breakpoint($shortScreen) {
    top: 22%;
  }
  @include breakpoint($narrowScreen) {
    top: 25%;
  }
  width: 100%;
  text-align: center;
  position: fixed;
  top: 26%;
  &.littler {
    margin-top: 3em;
  }
}

h1.main {
  font: {
    family: $giantHeadFont;
    size: 13vw;
  }
  @include breakpoint($narrowScreen) {
    font-size: 21vw;
    margin-left: -0.1em;
  }
  color: $headColor;
  a {
    color: $headColor;
  }
  text-transform: uppercase;
  letter-spacing: -0.1em;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -0.2em;
  &.littler {
    font-size: 3.5em;
  }
}

.little-main {
  @include breakpoint($narrowScreen) {
    font-size: 2.5vw;
    margin-top: -1.5em;
  }
  font-size: 1.5vw;
  font-family: $slabFont;
  color: $bodyTextColor;
  margin-top: -1em;
  word-spacing: 2.9em;
  letter-spacing: 1.8em;
  text-transform: uppercase;
  margin-left: 2em;
  font-weight: normal;
  &.littler {
    margin-left: 1.2em;
    word-spacing: 0;
    letter-spacing: 0.8em;
  }
}

.diamond {
  font-size: 0.8em;
  color: $gray;
  .littler & {
    color: white;
  }
}

footer {
  @include breakpoint($narrowScreen) {
    background-image: url("assets/img/bg-bah2-portrait.svg");
    background-size: contain;
    opacity: 0.5;
  }
  @include breakpoint ($bigPortrait) {
    background-size: contain;
  }
  opacity: 0.35;
  height: 220px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-attachment: fixed;
  background-position: bottom center;
  background-image: url(assets/img/bg-bah2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

%transition {
  @include transition(all 0.25s ease-in-out);
}

// description
.description {
  @include breakpoint($shortScreen) {
    bottom: -8em;
  }
  // @extend %transition;
  // @include transition(bottom 0.25s);
  position: absolute;
  width: 100%;
  bottom: -9em;
  color: $descriptionColor;
  margin-top: 4em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  .no-scroll & {
    bottom: initial;
    margin-top: 0;
    top: 42vh;
  }
  p {
    margin: 0;
    margin-bottom: .5em;
  }
  .line1 {
    font-size: 1.3em;
    @include breakpoint($shortScreen) {
      font-size: 1.1em;
    }
  }
  .line2 {
    font-style: italic;
    @include breakpoint($shortScreen) {
      font-size: 0.85em;
    }
  }
  .in {
    font-size: 0.6em;
  }
  .line-last {
    font-size: 0.8em;
    @include breakpoint($shortScreen) {
      font-size: 0.65em;
    }
  }
}
.description-circles-line {
  div {
    display: inline-block;
  }
  .text {
    margin: 0 0.7em;
  }
}
.description-circles {
  height: 35px;
  img {
    margin: 0 auto;
  }
  svg {
    display: inline;
  }
}

.circle {
  border: 1px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  display: inline-block;
  padding: 3em 3em;
  text-align: center;
}

.line-behind {
  margin-bottom: 0.8em;
  @include breakpoint($shortScreen) {
    margin-bottom: 0.5em;
  }
  @include breakpoint($narrowScreen) {
    width: 93%;
  }
  border-bottom: 1px solid gray;
  width: 50%;
  display: inline-block;
  p {
    position: relative;
    top: 1.1em;
    background-color: black;
    display: inline-block;
    padding: 0 24px;
  }
  &.olympia {
    position: relative;
    bottom: 0.9em;
  }
}

%main-nav {
  list-style: none;
  a {
    color: $navColor;
  }
  li {
    display: inline-block;
  }
}

.contact-info {
  @include breakpoint($shortScreen) {
    bottom: 1em;
  }
  @include breakpoint($narrowScreen) {
    bottom: 20vh;
  }
  @include transition(opacity 1s);
  @extend %good-list;
  color: $grayText;
  font-weight: 100;
  text-align: center;
  position: fixed;
  bottom: 15vh;
  width: 100%;
  // margin-top: 5vh;
  // padding: 1.5em 0 0.5em 0;
  // border-top: 1px solid $ruleColor;
  // border-bottom: 1px solid $ruleColor;
  a {
    @include transition(opacity 0.5s);
    opacity: 0.55;
    .no-scroll & {
      opacity: 0.55;
      visibility: initial;
    }
    &:hover {
      opacity: 1;
    }
    color: $grayText;
  }
}

.contact-icons {
  @extend %inline-list;
  @extend %good-list;
  li {
    width: 6%;
    min-width: 3em;
    &:nth-child(2) {
      margin: 0 12%;
    }
  }
}

// nav {
//   // @extend %transition;
//   @include transition(all 0.8s);
//   @extend %main-nav;
//   font-weight: 100;
//   text-align: center;
//   margin-top: 5em;
//   text-transform: uppercase;
//   position: fixed;
//   bottom: 5em;
//   width: 100%;
//   .no-scroll & {
//     opacity: 1;
//   }
//   li {
//     margin: 0 5em;
//   }
//   .link-icon {
//     padding: 3em;
//     letter-spacing: 0.1em;
//   }
// }

// %icon {
//   background-color: transparent;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   span {
//     position: relative;
//   }
// }

// .icon-triangle {
//   @extend %icon;
//   background-image: url(/assets/img/triangle.svg);
//   span {
//     top: 1.3em;
//   }
// }

// .icon-circle {
//   @extend %icon;
//   background-image: url(/assets/img/circle.svg);
//   span {
//     top: 0.2em;
//   }
// }

p a {
  color: $bodyLinkColor;
}

a {
  color: $linkColor;
  text-decoration: none;
}
