@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";

@include font-face(
  "league-gothic",
  "../assets/font/league-gothic/webfonts/leaguegothic-regular-webfont",
  $file-formats: eot woff svg ttf
);

// type
$displayFont: didot, 'Abril Fatface', sans-serif;
$slabFont: 'Josefin Slab', serif;
$sansFont: 'league-gothic', Helvetica, sans-serif;

$giantHeadFont: $displayFont;

// colors
$gray: gray;
$darkGray: shade($gray, 50%);
$lightGray: tint($gray, 50%);
$violetGray: #363138;
$darkViolet: rgb(23,0,33);

// elmt colors
$headColor: $violetGray;
$hrColor: $violetGray;
$bodyTextColor: white;
$descriptionColor: rgb(178, 174, 174);
$navColor: $bodyTextColor;
$linkColor: $navColor;
$bodyLinkColor: $linkColor;

%giant-head {
  font: {
    family: $giantHeadFont;
    size: 13vw;
  }
}

%caps {
  text-transform: uppercase;
}

%usurper-head {
  color: $headColor;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  margin-top: 26vh;
}

%main-hr {
  width: 58%;
  margin-top: -2em;
  margin-bottom: 0;
  border: none;
  height: 30px;
  overflow: hidden;
  color: $gray;
  &:after {
    content: ".......................................................................";
    margin-left: 1em;
    font-family: 'IM Fell English', serif;
    font-size: 1.7em;
    letter-spacing: 18px;
  }
}

html {
  background-color: black;
  height: 100%;
  // @include radial-gradient($darkViolet 60%, black 160%);
}

ul {
  padding: 0;
}

body {
  margin: 0;
  color: $bodyTextColor;
  font-family: $slabFont;
}


// head part

.main-hr {
  @extend %main-hr;
}

hgroup.main {
  text-align: center;
}

h1.main {
  @extend %giant-head;
  @extend %usurper-head;
  margin-bottom: 0;
}

.little-main {
  font-size: 1.5vw;
  font-family: $slabFont;
  color: $bodyTextColor;
  margin-top: -1em;
  word-spacing: 2.9em;
  letter-spacing: 1.8em;
  text-transform: uppercase;
  margin-left: 4em;
  font-weight: normal;
}

.diamond {
  font-size: 0.8em;
  color: $gray;
}

footer {
  opacity: 0.5;
  height: 220px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-attachment: fixed;
  background-position: bottom center;
  background-image: url(assets/img/bg-bah.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  color: $descriptionColor;
  margin-top: 4em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  p {
    margin: 0;
    margin-bottom: .5em;
  }
  .line1 {
    font-size: 1.3em;
  }
  .in {
    font-size: 0.6em;
  }
  .line-last {
    font-size: 0.8em;
  }
}

.circle {
  border: 1px;
  border-radius: 50%;
  // width: 200px;
  // height: 200px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  padding: 3em 3em;

  text-align: center;
}

.line-behind {
  margin-bottom: 1.1em;
  border-bottom: 1px solid gray;
  width: 50%;
  display: inline-block;
  p {
    position: relative;
    top: 1.1em;
    background-color: black;
    display: inline-block;
    padding: 0 24px;
  }
}

%main-nav {
  list-style: none;
  a {
    color: $navColor;
  }
  li {
    display: inline-block;
  }
}

nav {
  @extend %main-nav;
  text-align: center;
  margin-top: 5em;
  text-transform: uppercase;
  li {
    margin: 0 5em;
  }
  a {
    padding: 3em;
    letter-spacing: 0.1em;
  }
}

%icon {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  span {
    position: relative;
  }
}

.icon-triangle {
  @extend %icon;
  background-image: url(/assets/img/triangle.svg);
  span {
    top: 1.3em;
  }
}

.icon-circle {
  @extend %icon;
  background-image: url(/assets/img/circle.svg);
  span {
    top: 0.2em;
  }
}

p a {
  color: $bodyLinkColor;
}

a {
  color: $linkColor;
  text-decoration: none;
}

%good-list {
  list-style: none;
}

%inline-list {
  li {
    display: inline-block;
  }
}

@import "page";
